@import "../Setup.css";

.home--container
{
    background: url(../../public/images/home/background-home-mobile.jpg) no-repeat center/cover fixed;
    height: 100vh;
}

@media (min-width: 640px) {
    .home--container
    {
        background: url(../../public/images/home/background-home-tablet.jpg) no-repeat center/cover fixed;
        height: 100vh;
    }
}

@media (min-width: 1024px) {
    .home--container
    {
        background: url(../../public/images/home/background-home-desktop.jpg) no-repeat center/cover fixed;
        height: 100vh;
    }
}


/* @keyframes showtext {
    0%
    {
    
     transform: translateY(-100%);
    } 
    50%
    {
     transform: translateY(15%);
    }
    100%
    {
     transform: translateY(0%);
    } 
 } */


.header--top-text
{
    /* animation: showtext 1.5s ease; */
}

.header--bottom-text
{
    /* animation: showtext 1.5s ease; */
    /* animation-delay: 1.5s; */
}

 .body--bottom-text
{
    /* animation: showtext 1.5s ease; */
    /* animation-delay: 1.5s; */
}

.home--bottom-button:hover
{
    box-shadow: 0px 0px 0px 45px rgba(255, 255, 255, .1);
}

.aside--mobile-navigation
{
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
}